<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
    <script type="text/javascript" src="/js/vis-network.min.js"></script>
    <script type="text/javascript" src="/js/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="/js/utils.js"></script>
  </head>

  <body>
    <div class="header">
      <h1>Algorithm Generator</h1>
    </div>

    <div class="text" style="padding: 10px;">
      <label>How many nodes: </label>
      <input type="text" name="number" id="number">
      <input type="submit" onclick="generateGraph()">
    </div>
    <div id="my_network"></div>

    <script>
        const params = new URLSearchParams(window.location.search)
        getGraph(params.get("number"));
    </script>

  </body>
</html>
