body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

.header {
  padding: 5px;
  text-align: center;
  background: blue;
  color: white;
  font-size: 30px;
}